<div class="game-description-wrap">
	<h2>Játékszabályok</h2>
	<p>A játék lényege, hogy a gép által elrejtett 4 mező színét és ezek sorrendjét kitaláljuk. Tippeléseknél a számítógép piros vagy egy zöld jellel jelzi találatunkat. A piros esetén a mező színét, míg zöldnél a mező színét és helyét is eltaláltuk. Azt, hogy melyik mezőre vonatkoznak az egyes ellenőrzések azt nem árulja el a gép, ezt nekünk kell kitalálnunk az egyes tippekre adott válaszokból. A játék során a következő színeket lehet megadni: piros, fehér, kék, rózsaszín, narancs, lila, sárga, zöld.</p>
</div>