/* Color variables */
$linkcolor: blue;
$mainBackgroundColor: #333;
$textColor: #fff;

$defaultSquareColor: #fff;
$colorSelectSection: #aaa;
$resultSection: #666;
$ctaColor: #2bdfc2;

$ctaHover: #fff;
$textHover: #2bdfc2;
$squareHover: #666;

/* Size */
$colorSelectorHeight: 100px;
$colorSquare: 45px;
$resultSquare: 30px;
